---
title: Forms
---

<% content_for :description do %>
  <div class="space-y-4">
    <p>
      It would be really nice to have the form components accessible from Rails <%= code('form_with') %>.
    </p>

    <p>
      Luckily, LycanUI supports this out of the box.
    </p>

    <p>
      If you didn't add it when setting up, all you need to do to get this functionality is run,
    </p>

    <pre class="border border-dashed border-surface rounded-lg flex shadow-lg p-6">
      <code>rails generate lycan_ui:add form</code>
    </pre>

    <p>
      You'll now have access to <%= code('lycan_ui_form_with') %> in any view context.
    </p>

    <p>
      It functions identically to <%= code('form_with') %>, other than the fact that it renders the styled versions of each form element.
    </p>

    <div>
      <h4 class="text-lg border-b border-on-surface/25">
        Compatible Components
      </h4>

      <ul class="pl-2 mt-1">
        <% ['button', 'checkbox', 'input', 'radio', 'switch', 'textarea'].each do |component| %>
          <li class="flex items-center gap-1 mb-1">
            <%= link_to component.titleize, "/docs/#{component}", class: 'underline underline-offset-4 decoration-accent hover:decoration-2' %>

            <span>-</span>

            <div>
              <% helper = component == "radio" ? "radio_button" : component %>

                via <%= code("form.#{helper}") %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<%= render 'partials/doc' %>
