---
title: Helpers
---

<% content_for :description do %>
  <div class="space-y-4">
    <p>
      You may have noticed when installing, you were prompted to install the <%= code('ui') %> helper.
    </p>

    <p>
      It provides a nice abstraction over the normal <%= code('render') %> calls for ease of use. For example,
    </p>

    <div class="highlight rounded-lg shadow-lg">
      <pre class="flex items-center p-6">
        <code><%= read_erb('examples/no_helper/breadcrumb') %></code>
      </pre>
    </div>

    <p>Becomes,</p>
    <div class="highlight rounded-lg shadow-lg">
      <pre class="flex items-center p-6">
        <code><%= read_erb('examples/helper/breadcrumb') %></code>
      </pre>
    </div>

    <p>
      Makes the code a lot cleaner and easier to understand for everyone.
    </p>
  </div>
<% end %>

<%= render 'partials/doc' %>
