---
title: Introduction
---

<% content_for :description do %>
  <p class="text-xl font-medium">
    An open-source collection of accessible components for any Rails project.
  </p>

  <p class="mt-6">
    With Lycan UI, we strive to create the definitive way for Rails developers to build wonderful interfaces.
    Whether that's through using our full ecosystem via the gem, or just copy pasting from our GitHub. It's all
    open and up for grabs. Use what you need and leave behind what you don't.
  </p>

  <p class="mt-6">
    We've build Lycan UI with these core principles
  </p>

  <ul class="list-decimal ml-8 space-y-2 mt-2">
    <li>All the components are yours, forever, for free.</li>
    <li>Stick to the Rails way as much as possible, keep it simple.</li>
    <li>Accessibility is a core requirement, not an afterthought.</li>
    <li>Provide reasonable defaults, but allow escape hatches where necessary.</li>
  </ul>

  <p class="mt-6">
    If you encounter any problems or bugs, you are encouraged to open an issue on

    <%= external_link_to repo_url do %>
      Github
    <% end %>.
  </p>

  <%= ui.alert(variant: :danger, class: 'mt-6 [&>svg]:left-3 [&>svg]:top-3') do |alert| %>
    <%= lucide_icon('construction', class: 'inline mr-2') %>

    <%= alert.title do %>
      Lycan UI is still in early development
    <% end %>

    <%= alert.description do %>
      <div class="flex items-center gap-1">
        Many components may be unfinished, broken or completely unimplemented.
        Expect there to be breaking changes

        <%= lucide_icon('rocket', class: 'inline size-4') %>
      </div>
    <% end %>
  <% end %>
<% end %>

<% content_for :features do %>
  <section class="space-y-6">
    <div>
      <h3 class="text-lg scroll-m-20 pb-1">Generators</h3>
      <p>
        Most component libraries generally have you install some gem or npm package that hides away all the code from you.
        Making it incredibly frustrating to customize them to fit the ever-changing design needs of your application.
        We sidestep by utilizing
        <%= external_link_to "https://guides.rubyonrails.org/generators.html" do %>
          Rails generators
        <% end %>. So, all of the code is effectively copy pasted right into your application.
      </p>
      <p class="mt-2">No more hacky CSS overrides, no more weird JS workarounds.</p>
    </div>

    <div>
      <h3 class="text-lg scroll-m-20 pb-1">The Rails Way</h3>
      <p>
        Everything that gets generated tries it's best to stick to plain ol' Rails. Our components are just Ruby objects.
        We don't use any extra component systems like Phlex or View Component. It's all built on top of Rails helpers,
        with a sprinkle of Stimulus and a dash of Turbo to pull everything together.
      </p>
    </div>

    <div>
      <h3 class="text-lg scroll-m-20 pb-1">Accessible By Design</h3>
      <p>
        We follow
        <%= external_link_to "https://www.w3.org/WAI/ARIA/apg/patterns/" do %>
          WAI-ARIA design patterns
        <% end %>
        and handle all the annoying parts like aria attributes, role management, focus, and keyboard navigation.
      </p>
    </div>

    <div>
      <h3 class="text-lg scroll-m-20 pb-1">Reasonable Defaults</h3>
      <p>
        Lycan UI is built with the philosophy of Reasonable Defaults with easy escape hatches.
        We've picked some nice defaults for styling and functionality, but it's all (hopefully) quite easy to
        modify and tweak to your liking.
      </p>
    </div>
  </section>
<% end %>

<% content_for :inspiration do %>
  <section>
    <p>Some of the projects that inspired this in no particular order:</p>
    <ul class="list-disc ml-5 mt-6 space-y-2">
      <li>
        <span>CSS Zero</span>
        <span>-</span>
        <%= external_link_to "https://csszero.lazaronixon.com/" do %>
          https://csszero.lazaronixon.com
        <% end %>
      </li>
      <li>
        <span>shadcn/ui</span>
        <span>-</span>
        <%= external_link_to "https://ui.shadcn.com/" do %>
          https://ui.shadcn.com
        <% end %>
      </li>
      <li>
        <span>Melt UI</span>
        <span>-</span>
        <%= external_link_to "https://www.melt-ui.com/" do %>
          https://www.melt-ui.com
        <% end %>
      </li>
      <li>
        <span>Skeleton</span>
        <span>-</span>
        <%= external_link_to "https://www.skeleton.dev/" do %>
          https://www.skeleton.dev
        <% end %>
      </li>
    </ul>
  </section>
<% end %>

<%= render 'partials/doc' %>

