---
title: Introduction
---

<% content_for :description do %>
  <p class="text-xl font-medium text-on-surface/80">
    An open-source collection of accessible components for any Rails project using

    <%= external_link_to "https://guides.rubyonrails.org/generators.html" do %>
      generators
    <% end %> and

    <%= external_link_to "https://tailwindcss.com/" do %>
      Tailwind CSS
    <% end %>.
  </p>

  <p class="mt-6">
    Lycan UI empowers developers to create accessible UIs that embody their unique style while staying true to the Rails Way.
    With a strong focus on accessibility, seamless Hotwire integration, and an overall delightful developer experience rooted in Rails conventions,
    Lycan UI strives to be the de-facto headless UI library for Rails applications.
  </p>

  <p class="mt-6">
    If you notice any problems or bugs, you are encouraged to open an issue

    <%= external_link_to repo_url do %>
      Github
    <% end %>, so that you or a community member can fix them.
  </p>

  <%= ui.alert(variant: :danger, class: 'mt-6 [&>svg]:left-3 [&>svg]:top-3') do |alert| %>
    <%= lucide_icon('construction', class: 'inline mr-2') %>

    <%= alert.title do %>
      LycanUI is still heavily under development.
    <% end %>

    <%= alert.description do %>
      <div class="flex items-center gap-1">
        Many components may be WIP, broken or completely unimplemented.
        Expect there to be breaking changes. And lots of new things.

        <%= lucide_icon('rocket', class: 'inline size-4') %>
      </div>
    <% end %>
  <% end %>
<% end %>

<% content_for :features do %>
  <section class="space-y-5">
    <div>
      <h3 class="mb-2 text-xl font-bold">Generators</h3>
      <p>
        Unlike traditional component libraries,
        Lycan UI leverages Rails generators to streamline your development workflow while ensuring you maintain complete ownership of your code.
        Rather than hiding implementation details behind abstractions, we scaffold accessible,
        customizable components directly into your application.
        No black boxes, no vendor lock-in. Just clean, understandable code that's entirely yours.
      </p>
    </div>

    <div>
      <h3 class="mb-2 text-xl font-bold">The Rails Way</h3>
      <p>
        Lycan UI embraces the Rails Way by prioritizing convention over configuration, server-rendered HTML, and progressive enhancement.
        Built with Hotwire at its core, our components leverage Turbo and Stimulus to deliver rich,
        interactive experiences.
      </p>
    </div>

    <div>
      <h3 class="mb-2 text-xl font-bold">Accessible By Design</h3>
      <p>
        Accessibility is front and center, ensuring your UI is inclusive and user-friendly from day one.
        We follow
        <%= external_link_to "https://www.w3.org/WAI/ARIA/apg/patterns/" do %>
          WAI-ARIA design patterns
        <% end %>
        and handle all the annoying parts like aria attributes, role management, focus handling, and keyboard navigation.
        Every component is built with accessibility as a core requirement,
        not an afterthought.
      </p>
    </div>

    <div>
      <h3 class="mb-2 text-xl font-bold">Reasonable Defaults</h3>
      <p>
        Lycan UI comes with a curated collection of components that feature carefully chosen, reasonable defaults.
        They are designed to look professional on their own and work harmoniously together as a cohesive design system.
      </p>
    </div>
  </section>
<% end %>

<% content_for :inspiration do %>
  <section>
    <p>Some of the projects that inspired this in no particular order:</p>
    <ul class="list-disc ml-5 mt-6 space-y-2">
      <li>
        <span>CSS Zero</span>
        <span>-</span>
        <%= external_link_to "https://csszero.lazaronixon.com/" do %>
          https://csszero.lazaronixon.com
        <% end %>
      </li>
      <li>
        <span>shadcn/ui</span>
        <span>-</span>
        <%= external_link_to "https://ui.shadcn.com/" do %>
          https://ui.shadcn.com
        <% end %>
      </li>
      <li>
        <span>Melt UI</span>
        <span>-</span>
        <%= external_link_to "https://www.melt-ui.com/" do %>
          https://www.melt-ui.com
        <% end %>
      </li>
      <li>
        <span>Skeleton</span>
        <span>-</span>
        <%= external_link_to "https://www.skeleton.dev/" do %>
          https://www.skeleton.dev
        <% end %>
      </li>
    </ul>
  </section>
<% end %>

<%= render 'partials/doc' %>

