---
title: Accordion
component: accordion
---

<% content_for :description do %>
  <p>Vertically stacked set of interactive headings that allow a user to expand and collapse sections.</p>

  <div class="pt-4">
    <%= render 'partials/example', wrapper_classes: 'max-w-64 sm:max-w-96 w-full' %>
  </div>
<% end %>

<% content_for :features do %>
  <ul class="space-y-1">
    <li class="flex gap-3 items-center">
      <%= lucide_icon('check-check', class: 'text-green-600') %>

      <p>
        Full keyboard navigation
      </p>
    </li>
    <li class="flex gap-3 items-center">
      <%= lucide_icon('check-check', class: 'text-green-600') %>

      <p>
        Can expand one or multiple items
      </p>
    </li>
  </ul>
<% end %>

<% content_for :usage do %>
  <h4 id="multiple" class="text-lg scroll-m-20 pb-2">
    Opening multiple items at once
  </h4>

  <p class="text-sm">
    Pass in <%= code('multiple') %> to <%= helper_code('ui.accordion', 'render "ui/accordion"') %> with a value of <%= code('true') %>
  </p>

  <%= render 'partials/example', path: 'accordion/multiple', wrapper_classes: 'max-w-64 sm:max-w-96 w-full' %>
<% end %>

<% content_for :usage_links do %>
  <li>
    <a class="text-sm underline-offset-4 hover:underline decoration-accent transition-all" href="#multiple">Opening multiple items at once</a>
  </li>
<% end %>

<% content_for :accessibility do %>
  <p>
    Adheres to the

    <%= external_link_to 'https://www.w3.org/WAI/ARIA/apg/patterns/accordion/' do %>
      <span>Accordion WAI-ARIA design pattern</span>
    <% end %>
  </p>
<% end %>

<%= render 'partials/doc' %>
