---
title: Alert
component: alert
---

<% content_for :description do %>
  <p>A callout to draw a user's attention.</p>

  <div class="pt-6">
    <%= render 'partials/example', wrapper_classes: 'w-3/4' %>
  </div>
<% end %>

<% content_for :usage do %>
  <h4 id="danger" class="text-lg scroll-m-20 pb-2">
    Danger
  </h4>

  <p class="text-sm">
    Pass in <%= code('variant') %> to <%= helper_code('ui.alert', 'render "ui/alert"') %> with a value of <%= code(':danger') %>.
  </p>

  <%= render 'partials/example', path: 'alert/danger', wrapper_classes: 'w-3/4' %>
<% end %>

<% content_for :usage_links do %>
  <li>
    <a class="text-sm hover:underline decoration-accent transition-all" href="#danger">Danger</a>
  </li>
<% end %>

<% content_for :accessibility do %>
  <p>
    Adheres to the

    <%= external_link_to 'https://www.w3.org/WAI/ARIA/apg/patterns/alert/' do %>
      <span>Alert WAI-ARIA design pattern</span>
    <% end %>
  </p>
<% end %>

<%= render 'partials/doc' %>
