---
title: Avatar
component: avatar
---

<% content_for :description do %>
  <p>An image with fallback for representing a user.</p>

  <div class="pt-6">
    <%= render 'partials/example', wrapper_classes: 'flex justify-center' %>
  </div>
<% end %>

<% content_for :features do %>
  <ul class="space-y-1">
    <li class="flex gap-3 items-center">
      <%= lucide_icon('check-check', class: 'text-green-600') %>

      <p>
        Lazy loading of avatars with specified fallback
      </p>
    </li>
    <li class="flex gap-3 items-center">
      <%= lucide_icon('check-check', class: 'text-green-600') %>

      <p>
        Gracefully falls back if image loading fails
      </p>
    </li>
  </ul>
<% end %>

<% content_for :usage do %>
  <h4 id="fallback" class="text-lg pb-2">
    Using the optional fallback
  </h4>

  <p class="text-sm">
    Pass in <%= code('fallback') %> to <%= helper_code('ui.avatar', 'render "ui/avatar"') %> with the value of the fallback.
  </p>

  <%= render 'partials/example', path: 'avatar/fallback', wrapper_classes: 'flex justify-center' %>
<% end %>

<% content_for :usage_links do %>
  <li>
    <a class="text-sm text-black hover:underline hover:text-black/90 transition-all" href="#multiple">Using the optional fallback</a>
  </li>
<% end %>

<%= render 'partials/doc' %>
