---
title: Dialog
component: dialog
---
<% content_for :description do %>
  <p>
    Displays a menu to the user, which contains links or actions.
  </p>

  <div class="pt-4">
    <%= render 'partials/example', wrapper_classes: 'flex justify-center' %>
  </div>
<% end %>


<% content_for :features do %>
  <ul class="space-y-1">
    <li class="flex gap-3 items-center">
      <%= lucide_icon('check-check', class: 'text-green-600') %>

      <p>
        Fully managed focus
      </p>
    </li>
    <li class="flex gap-3 items-center">
      <%= lucide_icon('check-check', class: 'text-green-600') %>

      <p>
        Esc automatically closes the dialog
      </p>
    </li>
  </ul>
<% end %>

<% content_for :usage do %>
  <div class="space-y-3">
    <div>
      <h4 id="forms" class="text-lg scroll-m-20 pb-1">
        Usage with forms
      </h4>
      <p>To work with forms within your dialog, simply use the <%= code('form') %> method.</p>
      <p class="text-sm text-on-background/75">Note: This demo is a bit odd, since the form action will always fail.</p>

      <%= render 'partials/example', path: "dialog/form", one: true, wrapper_classes: 'flex justify-center' %>
    </div>

    <div>
      <h4 id="remote" class="text-lg scroll-m-20 pb-1">
        Remote Dialogs
      </h4>
      <p>
        A common pattern with Turbo is server rendering Dialogs into a Turbo Frame. We support this out of the box
        by passing <%= code('remote: true') %> to <%= code('ui.dialog') %>.
      </p>
      <p class="mt-3">
        This does two of things:
      </p>
      <ul class="list-decimal ml-5">
        <li>Wraps the dialog in a Turbo Frame with name <%= code('dialog') %></li>
        <li>Disallows the use of the <%= code('trigger') %> slot</li>
      </ul>

      <% content_for(:example_render_override, flush: true) do %>
        <%= ui.button as_child: true, aria: { controls: 'cool-remote-form' } do |attributes| %>
          <%= link_to 'Open', '/edit_dialog_example', data: { turbo_frame: :dialog }, **attributes %>
        <% end %>
      <% end %>

      <%= render 'partials/example', path: "dialog/remote", one: true, wrapper_classes: 'flex justify-center'%>
    </div>
  </div>
<% end %>

<% content_for :usage_links do %>
  <li>
    <a class="text-sm underline-offset-4 hover:underline decoration-accent transition-all" href="#form">Usage with forms</a>
  </li>
  <li>
    <a class="text-sm underline-offset-4 hover:underline decoration-accent transition-all" href="#remote">Remote Dialogs</a>
  </li>
<% end %>

<% content_for :accessibility do %>
  <p>
    Adheres to the

    <%= external_link_to 'https://www.w3.org/WAI/ARIA/apg/patterns/dialog-modal/' do %>
      <span>Dialog WAI-ARIA design pattern</span>
    <% end %>
  </p>
<% end %>

<%= render 'partials/doc' %>
