<div class="xl:grid xl:grid-cols-[1fr_240px] gap-12">
  <div>
    <h1 class="text-2xl">
      <%= current_page.data["title"] %>
    </h1>

    <hr class="mt-1 mb-2 border-on-surface/25">

    <%= yield :description %>

    <% if current_page.data["component"].present? %>
      <div class="mt-6">
        <h2 class="text-xl scroll-m-20" id="installation">
          Installation
        </h2>

        <hr class="mt-1 mb-4 border-on-surface/25">

        <pre class="bg-surface-200 dark:bg-surface-900 rounded-lg flex shadow-lg p-6">
          <code>rails g lycan_ui:add <%= current_page.data["component"] %></code>
        </pre>
      </div>
    <% end %>

    <% if content_for?(:features) %>
      <div class="mt-6">
        <h2 class="text-xl scroll-m-20" id="features">
          Features
        </h2>

        <hr class="mt-1 mb-4 border-on-surface/25">

        <%= yield :features %>
      </div>
    <% end %>

    <% if content_for?(:usage) %>
      <div class="mt-6">
        <h2 class="text-xl scroll-m-20" id="usage">
          Usage
        </h2>

        <hr class="mt-1 mb-4 border-on-surface/25">

        <%= yield :usage %>
      </div>
    <% end %>

    <% if content_for?(:accessibility) %>
      <div class="mt-6">
        <h2 class="text-xl scroll-m-20" id="accessibility">
          Accessibility
        </h2>

        <hr class="mt-1 mb-4 border-on-surface/25">

        <%= yield :accessibility %>
      </div>
    <% end %>

    <% if content_for?(:faq) %>
      <div class="mt-6">
        <h2 class="text-xl scroll-m-20" id="faq">
          FAQ
        </h2>

        <hr class="mt-1 mb-4 border-on-surface/25">

        <%= yield :faq %>
      </div>
    <% end %>
  </div>

  <% if content_for?(:links) || current_page.data["component"].present? || [:features, :usage, :accessibility, :faq, :usage_links].any? { |c| content_for?(c) } %>
    <nav class="sticky top-24 h-fit">
      <div class="pb-3">
        On This Page
      </div>

      <ul>
        <%= yield :links %>

        <% [:installation, :features, :usage, :accessibility, :faq].each do |item| %>
          <% if (item == :installation && current_page.data["component"].present?) || content_for?(item) %>
            <li>
              <a class="text-sm underline-offset-4 hover:underline decoration-accent transition-all" href="#<%= item %>">
                <%= item == :faq ? item.to_s.upcase : item.to_s.titleize %>
              </a>

              <% if item == :usage && content_for?(:usage_links) %>
                <ul class="m-0 list-none pl-4">
                  <%= yield :usage_links %>
                </ul>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </nav>
  <% end %>
</div>
